### Signing certificates
nahuelbarrios.keystore-appbundle.pkcs12
secure.properties


### Gradle files
.gradle/
build/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea
*.iml


### Static Code Analyzers
config/*
!config/android/android-lint.xml
!config/detekt/detekt-config.yml


### Local configuration file (sdk path, etc)
local.properties


### Log Files
*.log


### Android template
# Built application files
captures

# Keystore files
*.jks