<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.barriosnahuel.vossosunboton.feature.addbutton">

    <application>
        <activity
            android:name="com.github.barriosnahuel.vossosunboton.feature.addbutton.AddButtonActivity"
            android:label="@string/feature_addbutton_activity_label"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.home.HomeActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
