<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/app_feature_addbutton_feature_name_dynamic_feature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.github.barriosnahuel.vossosunboton.feature.addbutton.AddButtonActivity"
            android:exported="true"
            android:label="@string/app_feature_addbutton_activity_label_dynamic_feature"
            android:launchMode="singleTask"
            android:parentActivityName="com.github.barriosnahuel.vossosunboton.ui.home.LandingActivity"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable">
            <!-- "Instantiatable" lint check turned off because it throws false-positives when upgrading to AGP v4.0.0: https://issuetracker.google.com/issues/160685104#comment4 -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
